<section>
    <div class="row">
        <div class="col-md-4 ml-5 mt-5">
        <h2>Login </h2>
        <br>
            <form action="/login" method="post">
            {{#if loginErr}}
                <p class="error" style="color:red;">Invalid Username and Password</p>
            {{/if}}
            <!-- Email input -->
            <div class="form-outline mb-4">
                 <label class="form-label" for="form2Example1">Email address</label>
                <input type="email" id="form2Example1" class="form-control"  name="email"/>
               
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example2">Password</label>
                <input type="password" id="form2Example2" class="form-control" name="password" />
                
            </div>

           
        
            <!-- Submit button -->
             <button class="btn btn-primary btn-block mb-4">Login</button>

            <!-- Register buttons -->
            <div class="text-center">
                <p>Not a member? <a href="/register">Register</a></p>
                
                
            </div>
            </form>
            </div>
</div>
</section>